<nav>
  <div class="navbar-content">
    <div class="logo">
      <a href="https://www.youtube.com/watch?v=NeQM1c-XCDc&t=231s">
        <img class="logo" src="{{ asset('/img/logo.gif') }}" alt="Logo">
      </a>
    </div>
    <div class="hyperlinks">
      <button onclick="location.href='{{ path('app_home') }}'">Strona główna</button>
{% if app.user %}
      <button onclick="location.href='{{ path('app_list') }}'">Lista wydarzeń</button>
{% if 'ROLE_ADMIN' in app.user.roles %}
      <button onclick="location.href='{{ path('app_admin') }}'">Lista admina</button>
{% endif %}
      <button onclick="location.href='{{ path('app_logout') }}'">Wyloguj się</button>
{% else %}
      <button onclick="location.href='{{ path('app_login') }}'">Zaloguj się</button>
{% endif %}
    </div>
  </div>
</nav>
